<!DOCTYPE html>
<html lang="en">
  <h1>PolyFlowBuilder Password Reset</h1>
  <p>Someone (hopefully you!) initiated a password reset on the PolyFlowBuilder platform.</p>
  <p>
    To reset your password, please click the following link (this link will expire in 30 minutes):
    <a href="<%= locals.resetLink %>">Reset Password</a>
  </p>
</html>
